*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
/*end of essential css*/
.navbar{
	background-color: indigo;
	font-family: 'Questrial', sans-serif;
	font-weight: 700;
	font-size: 15px;
}
.navbar img{
	height: 20px;
	width: 20px;
}
nav.navbar > div.navbar-collapse{
	text-align: center;
}
/*end of navbar css, start of content/pics css*/
.background{
	background-color: white;
}
.background .description{
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
	color: white;
	background-color: indigo;
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
}
.background .description h2{
	font-family: 'Questrial', sans-serif;
	font-size: 40px;
}
.background .description > div.container-fluid > h3{
	font-family: 'Questrial', sans-serif;
	font-size: 30px;
}
.background .description > .sections > div.pic{
	margin: 20px 20px;
}
.background .description > .sections > div#pic1{
	margin: 0 0 0 15px;
}
.background .description > .sections > #pic3{
	margin: 10px;
	padding: 0;
}
.background .description > .sections > .paragraph{
	padding-left: 0;
}
.background .description > .sections > .paragraph a{
	text-decoration: none;
	color: white;
}
/*end of pics css, start blocqutes css*/
.background .description > .sections > .quotes{
	background-color: #00bcd4;
	border-radius: 3px;
	padding: 0 10px;
	margin: 5px auto;
	max-width: 60%;
}
.background .description > .sections > .quotes > .blockquote p{
	font-family: 'Courgette', cursive;
	font-size: 30px;
}
.background .description > .sections > .quotes2{
	float: right;
	max-width: 44%;
}
/*start of social css*/
body > .social{
	background-color: #651F7A;
	font-size: 30px;
	padding: 5px 5px;
	color: #f2f2f2;
	margin-top: 50px;
	font-family: 'Questrial', sans-serif;
}
body > .social h3{
	font-family: 'Questrial', sans-serif;	
}
body > .social a{
	text-decoration: none;
}
body > .social p{
	margin-bottom: 0;
}
#back-to-top{
display: inline-block;
width: 60px;
height: 60px;
position: fixed;
bottom: 20px;
right: 20px;
border-radius: 50%;
font-size: 40px;
display: none;
  
}
#back-to-top > i{
	vertical-align: 15px;
}
/*end of social css, start of footer*/
body > .background > .container .description a{
	text-decoration: none;
}
body > footer > p{
	background-color: indigo;
	text-align: center;
	color: white;
	padding: 10px;
	font-family: 'Questrial', sans-serif;
}
body > footer.footer > p > a{
	text-decoration: none;
	color: white;
}
/*start for responsive css*/
/*mobile -sm*/
@media only screen and (max-width: 450px){
	body > .background > .container{
		padding: 0px;
	}
	.background .description > .sections > .quotes > .blockquote > p{
		font-size: 20px;
		text-align: center;	
	}
	.background .description > .sections > .quotes{
		margin: 0 auto 10px;
	}
	.background .description > .sections > .quotes2{
		max-width: 60%
	}
}
/*tablet -ms*/
@media only screen and (min-width: 451px) and (max-width: 768px){
	.background{
		padding: 0;
	}
	.background .description > .sections > .pic{
		margin: 0 20px 10px;
	}
	.background .description > .sections > .quotes{
		margin: 0 auto 10px;
		text-align: center;
	}
	.background .description > .sections > .quotes2{
		max-width:100%;
	}
}
