*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
/* end of essential css, start of navbar*/
.navbar{
	background-color: indigo;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 15px;
}
.navbar img{
	height: 20px;
	width: 20px;
}
nav.navbar > div.navbar-collapse{
	text-align: center;
}
/*start of content*/
body > .content{
	padding-top: 15vh;
	font-family: 'Quiestrial', sans-serif;
	font-size: 16px;
}
body > .content h2{
	font-family: 'Quiestrial', sans-serif;
	font-weight: 400;
}
body > div.content > .articles .content > img{
	display: block;
	margin: 0 10px 10px 10px;
	padding: 5px;
}
body > div.content > .articles .content > p > a{
	color: blue;
	text-decoration: none;
}
body > div.content > .articles .content > img#getstarted1{
	float: left;
}
body > div.content > .articles .content > img#getstarted2{
	float: right;
}
body > div.content > .articles .content > img#getstarted3{
	float: left;
}
/*Start of social*/
body > .container-fluid > .social{
	background-color: #651F7A;
	font-size: 30px;
	padding: 5px 5px;
	color: white;
	margin-top: 50px;
}
body > .container-fluid > .social a{
	text-decoration: none;
}
.container-fluid > .social p{
	margin-bottom: 0;
}
#back-to-top{
display: inline-block;
display: none;
width: 60px;
height: 60px;
position: fixed;
bottom: 20px;
right: 20px;
border-radius: 50%;
font-size: 40px;
  
}
#back-to-top > i{
	vertical-align: 15px;
}
/* start of footer*/
body > footer > p{
	background-color: indigo;
	text-align: center;
	color: white;
	padding: 10px;
}
body > .footer > p > a{
	text-decoration: none;
	color: white;
}
body > footer{
	background-color: indigo;
	color: white;
	padding: 10px 0;
	text-align: center;
}
